.measurement-container, .result-measure-blood-pressure, .result-measure-pulse, .result-measure-info, .measure-status {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60vw;
}
.measurement-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #5DD1CD, #116B68);
    color: #FFFFFF;
}
