.add-measure-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #5DD1CD, #116B68);
}
.add-measure {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: #FFFFFF;
}
.spinner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.spinner-container > .material-icons {
    margin: 0 auto;
    cursor: pointer;
    font-size: 5rem;
}
.spinner-container > h1, p {
    margin: 0 auto;
}
.name-pressure-label {
    margin-top: 20px;
    font-size: 2.8rem;
}
.description-input {
    margin-top: 30px;
    padding: 6px 30px !important;
    border: 1px solid #9dd8c8 !important;
    background-color: #9dd8c8 !important;
    border-radius: 20px !important;
    color: #FFFFFF !important;
}

.description-input::placeholder {
    color: #FDFDFD;
  }
.measure-date {
    margin-top: 20px;
    color: #FFFFFF;
}
.add-measure-container > .app-btn {
    margin-top: 30px !important;
}