.dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #5DD1CD, #116B68);
    color: #FFFFFF;
}
.dashboard > .my-photo {
    width: 80px;
    margin-top: 5px;
}
.dashboard > h1 {
    font-size: 3rem;
}