.last-measure-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding: 50px;
    border-radius: 50%;
    background-color: #33AF1A;  
    z-index: 2;
}
.last-measure-result:hover {    
    background-color: #33AF1A;  
}
.last-measure-result:after {
    position: absolute;
    width: 24%;
    height: 2%;
    bottom: 7%;
    border-radius: 50%;
    z-index: 1;
    margin: 0 auto;
    content: "";
    background: radial-gradient(#2c2c2c4f, 50%, rgba(0, 0, 0, 0));
}
.last-measure-result > h1, p {
    margin: 0;
}

@media only screen and (max-height: 600px) {
    .last-measure-result {
        margin-top: 30px;
        padding: 30px;
    }
    .last-measure-result > h1 {
        font-size: 3rem;
    }
    .last-measure-result > p {
        font-size: 1.2rem;
    }
    .last-measure-result:after {
        height: 2%;
        bottom: 4%;
    }
}