.root-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #5DD1CD, #116B68);
  color: #FFFFFF;
}
.info-btn {
  position: absolute !important;
  top: 4px;
  right: 4px;
  color: #FFFFFF;
  font-size: 3rem !important;
}
.logo-container {
  display: flex;
  align-content: center; 
  align-items: center;
  justify-content: center;
  margin-bottom: 13px;
}
.logo {
  margin-bottom: 20px;
  height: 100px;
}
.logo-container > h2 {
  font-size: 4.6rem;
  margin-bottom: 0px;
}
.kicker {
  margin: 0;
  font-size: 1.4rem;
}
.signin-btn {
  padding: 0px !important;
  width: 160px;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: #E9605E;
  background-color: #E9605E;
  color: #FFFFFF;
  font-family: inherit;
  outline: none;
}
.signin-btn:hover {
  color: #FFFFFF;
  border-color: #E6504D;
  background-color: #E6504D;
}
.signup-container {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}
.signup-container > p {
  margin: 0;
  font-size: 1.2rem;
}
.signup-container > a {
  margin: 0;
  padding: 0;
}
.signup-container > p > a > .signup-btn {
  padding: 0 !important;
  margin-left: 8px;
  vertical-align: center;
  font-size: 1.2rem !important;
  text-transform: none;
  text-decoration: underline;
  color: #FFFFFF !important;
  border: none;
  line-height: 0 !important;
}
