.nav {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background:  #47AFAA;
}
.nav-logo {
  padding: 10px;
  font-size: 2rem;
}
.mini-logo {
  width: 25px;
}
.nav > .material-icons {
  padding: 15px;
  cursor: pointer;
  font-size: 2.8rem;
}
.my-photo-thumbnail {
  vertical-align: middle !important;
  width: 30px;
  border-radius: 50%;
}
.material-icons{
  vertical-align: middle;
}

/* Overlay Nav */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #5DD1CD, #116B68);
  overflow-y: hidden;
  transition: 1s;
}
.overlay-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.overlay-content > .appBtn {
  width: 80%;
  margin-top: 10px;
  padding: 5px !important;
}
.overlay-content > a {
  display: flex ;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.menu-item {
  margin-right: 5px;
  font-size: 2rem;
}
.overlay a {
  padding: 30px;
  text-decoration: none;
  font-size: 2rem;
  color: #FFFFFF;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #FFFFFF;
}

.overlay .closebtn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 40px;
  cursor: pointer;
  color: #FFFFFF;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}